/*Custom Style*/
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
	font-family:'Quicksand','Arial', 'Helvetica', sans-serif;
	padding-top: 10px;
}

.container.nomargin {
	margin:0;
	padding:0;
	width:100%;
}
.padding {
	padding:70px 0;
}

.margin {
	margin: 10px 0;
}

.main_image{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 20px;
	border: 3px solid #e67e22;
	border-radius: 10%;
}
.title {
	font-size:3em;
	display:block;
	margin-top: 15px;
}

.titleby {
	font-size:2em;
	display:block;
}
hr.star {
	margin:10px auto 20px;
	padding:0;
	max-width:250px;
	border:0;
	border-top:solid 5px;
	text-align:center;
}
hr.star:after {
	color:#fff;
	content: "\2730";
	position:relative;
	top:-.8em;
	padding:0 .25em;
	font-size: 2.5em;
  color: #e67e22;
  background: #ecf0f1;
}


/* Navigation Styling */
.navbar {
	background: #344953;
	padding:15px;

}
.navbar .navbar-brand {
	color: #ecf0f1;
	font-size: 2.5em;
	font-weight: 900;

}
.navbar .navbar-brand:hover {
	color: #1abc9c;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ecf0f1;
	font-size: 1.5em;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a {
	background: #344953;
	border-bottom: 5px solid #e67e22;

}


/* Header Styling */
#header {
	background: #ecf0f1;
	color: #34495e;
	font-size: 1em;
}
#header .icon {
	font-size: 30px;
	margin-top: 50px;
	display: block;
}
#header .skills {
	font-size: 2em;
	font-weight: 300;
}

 #header hr.star:after{
	color: #e67e22;

}
/*down arrow icon*/
#header a {
	color: #e67e22;
}
#header a:hover {
	color: #d35400;
}

/* Work Styling */
#work {
	color: #34495e;
}
/*#work img {

}*/
#work hr.star:after {
	color: #e67e22;
	background: #fff;

}

#work .portfolio-item {
	height: 300px;
	background: #eee;
	/*border-radius: 15px;*/
}

/*Hover effect*/
#work .portfolio-item img {
	border-radius: 15px;
	margin: 20px 0;
	opacity: 1;
	transition: all .3s;
}

#work .portfolio-item img:hover {
margin: 5px 0;
opacity: .7;
}


/* Contact Styling */
#contact {
	/*font-family:'Lato',sans-serif;*/
	color: #34495e;
	background: #ecf0f1;
}
/*#contact h3 {
	font-size: 24px;

}*/
#contact .has-success .form-control,
#contact .has-success .control-label {
	border-color: #34495e;
	color: #34495e;

}

#contact hr.star {

}

#contact hr.star:after {
	color: #e67e22;
	background: #ecf0f1;

}
#contact .btn-social {
	display:inline-block;
	width:50px;
	height:50px;
	border:3px solid #34495e;
	border-radius:100%;
	text-align:center;
	font-size:25px;
	font-weight:900;
	line-height:45px;
}

#contact .btn-social i {
	color: #34495e;
}

#contact .socials>li {
	margin: 25px 12px;
}
#contact .socials a {
	transition: all .2s;

}
#contact .socials>li:hover a {
	background: #34495e;
}
#contact .socials>li:hover i {
	color: #ecf0f1;
}

#contact .btn-primary {
	background: #34495e;
}

#contact .btn-primary:focus,
#contact .btn-primary:hover{
	background: #2c3e50;

}

/* Footer Styling */
footer {
	color: #ecf0f1;
	background: #344953;
}

footer p {
	padding: 10px 0;
	margin: 0;
}



/* ==== Media Queries ====*/

/* iPads (Tablets) ----------- */
@media only screen and (min-width: 768px) and (max-width : 1024px) {
/* Styles */
#header{
	padding-top: 100px;
}
.title {

}

.padding {

}

#work .portfolio-item {
	height: 150px;
	background: #fff;
	border-radius: 15px;
}

/*Hover effect*/
#work .portfolio-item img {
	border-radius: 15px;
	margin: 20px 0;
	opacity: 1;
	transition: all .3s;
}

#work .portfolio-item img:hover {
margin: 20px 0;
opacity: .7;
}

#contact  {
}

}

/* Iphone/Android (Small Devices) ----------- */
@media only screen and (min-width : 320px) and (max-width: 767px) {
/* Styles */

#header a {
	color: #e67e22;
}
#header a:hover {
	color: #d35400;
}

#header .icon {
	font-size: 15px;
	margin-top: 1s0px;
	display: block;
}

.title {
	font-size:3em;
}

.skills {
	font-size: 1em;
}

#work .portfolio-item {
	height: 200px;
	background: #fff;
	border-radius: 15px;

}

/*Hover effect*/
#work .portfolio-item img {
	border-radius: 15px;
	margin: 20px 0;
	opacity: 1;
	transition: all .3s;
	width: 85%;
	height: 85%;
	margin: 0 auto;
	display: inline-block;
}

#work .portfolio-item img:hover {
margin: 20px 0;
opacity: .7;
}

#contact .socials>li {
	margin: 15px 2px;
}

#contact .btn-social{
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 2px solid #34495e;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	line-height: 30px;
}


.margin.no_margin_mobile {

}


.contact-form button.pull-right {

}

.social-media {
	margin-top: 30px;
}

.margin.mobile-only{
	display: none;
}

}
